openapi: 3.1.1
info:
  title: "Crowdodge API"
  version: 1.0.0
  description: CrowdodgeのAPI
  license:
    name: UNLICENSED
    url: "https://docs.npmjs.com/cli/v11/configuring-npm/package-json#license"

servers:
  - url: "https://api.crowdodge.grfsv.net/v1"
    description: Production
  - url: "http://localhost:8080/v1"
    description: Local development

tags:
  - name: Auth
    description: 認証・認可に関するエンドポイント群
  - name: Users
    description: ユーザ情報に関する操作エンドポイント群
  - name: Events
    description: イベントに関する操作エンドポイント群
  - name: Activities
    description: 行動履歴に関する操作エンドポイント群
  - name: Plans
    description: サブスクリプションプランに関する操作エンドポイント群
  - name: Items
    description: 課金アイテムに関する操作エンドポイント群
  - name: Noises
    description: ノイズデータに関する操作エンドポイント群
  - name: Calendars
    description: Google Calendar proxyエンドポイント群
  - name: System
    description: ヘルスチェックおよび外部システム連携

paths:
  /auth/google:
    $ref: "./paths/auth@google@.yaml"
  /auth/refresh:
    $ref: "./paths/auth@refresh.yaml"
  /auth/signout:
    $ref: "./paths/auth@signout.yaml"
  /auth/me:
    $ref: "./paths/auth@me.yaml"
  /devices:
    $ref: "./paths/devices.yaml"
  /users/me/calendars:
    $ref: "./paths/users@me@calendars.yaml"
  /calendars/{calendarId}/events:
    $ref: "./paths/calendars@{calendarId}@events.yaml"
  /calendars/{calendarId}/events/{googleEventId}:
    $ref: "./paths/calendars@{calendarId}@events@{googleEventId}.yaml"
  /events:
    $ref: "./paths/events.yaml"
  /health:
    $ref: "./paths/health.yaml"
  /ready:
    $ref: "./paths/ready.yaml"
  /webhooks/google-calendar:
    $ref: "./paths/webhooks@google-calendar.yaml"
  /users/me/subscription: # GET 契約中のサブスク # PUT 変更・更新（body: {planType: "xxx"で付与}）
    $ref: "./paths/users@me@subscription.yaml"
  /users/me/items: # GET 所持アイテム一覧
    $ref: "./paths/users@me@items.yaml"
  /users/me/items/{itemId}/uses: # POST 利用
    $ref: "./paths/users@me@items@{itemId}@uses.yaml"

  # activities
  /activities: # GET # POST
    $ref: "./paths/activities.yaml"

  # subscription plans
  /plans: # GET プラン一覧
    $ref: "./paths/plans.yaml"

  # items
  /items: # GET 購入可能な課金アイテム一覧
    $ref: "./paths/items.yaml"
  /items/{itemId}/purchases: # POST 購入（body: {quantity: nで個数指定}）
    $ref: "./paths/items@{itemId}@purchases.yaml"

  # noises
  /noises: # GET 一覧
    $ref: "./paths/noises.yaml"
  /noises/{noiseId}/dispute: # GET 申し立て確認 # POST 異議申し立て # DELETE 申し立て取り下げ
    $ref: "./paths/noises@{noiseId}@dispute.yaml"

# TODO: 仮
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
